.Table {
    text-anchor: middle;
    align-items: center;
}

table {
    margin: auto;
    margin-bottom: 2%;
}

th{
    height: 1px;
    background-color: #e6e6e6;
    
}

tr:nth-child(2n){
    background-color: #f3f3f3;
}

tr:nth-child(2n + 1){
    background-color: #fdfdfd;
}

tr:hover {
    background-color: #f0f0ff;
}